<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title></title>
    <meta charset="utf-8">
    <link rel="stylesheet" type="text/css" th:href="@{/bootstrap/css/bootstrap.css}"/>
    <link th:href="@{/bootstrap/css/bootstrap-table.css}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" th:href="@{/ui/css/upload.css}"/>
    <script th:src="@{/ui/js/vendor/jquery.min.js}" type="text/javascript"></script>
    <script th:src="@{/bootstrap/js/bootstrap-table.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap.js}"></script>
    <script th:src="@{/bootstrap/js/bootstrap-table-zh-CN.js}"></script>
   <!-- <script type="text/javascript" th:src="@{/ui/common.js}"></script>
    <script th:src="@{/ui/timeout.js}"></script>-->
    <script>
        function removeUser(userId) {
            $.post("/main/delUser",{"userId":userId},function (data) {
                var flag = eval(data);
                alert("进入到删除的ajax了")
                if(flag){
                    //删除bootstrap的记录,这种是属于jquary的操作么
                    $("#table_server").bootstrapTable('remove',{
                        field:'id',
                        values:[parseInt(userId)]
                    })
                    $("#table_server").bootstrapTable('refresh');
                }else{
                    $("#errorDialog>span").text("网络原因，删除失败");
                    $("#errorDialog").show();
                }
            })

        }
    </script>
    <script>
            $(function () {
                $("#errorMsg").hide();
                //隐藏错误框
                $("#errorDialog").hide();

                var t = $("#table_server").bootstrapTable({
                    url: '/main/getUserList',
                    method: 'get',
                    dataType: "json",
                    striped: true,//设置为 true 会有隔行变色效果
                    undefinedText: "空",//当数据为 undefined 时显示的字符
                    pagination: true, //分页
                    // paginationLoop:true,//设置为 true 启用分页条无限循环的功能。
                    showToggle: "true",//是否显示 切换试图（table/card）按钮
                    showColumns: "true",//是否显示 内容列下拉框
                    pageNumber: 1,//如果设置了分页，首页页码
                    // showPaginationSwitch:true,//是否显示 数据条数选择框
                    pageSize: 3,//如果设置了分页，页面数据条数
                    pageList: [3, 6, 9, 12],	//如果设置了分页，设置可供选择的页面数据条数。设置为All 则显示所有记录。
                    paginationPreText: '‹',//指定分页条中上一页按钮的图标或文字,这里是<
                    paginationNextText: '›',//指定分页条中下一页按钮的图标或文字,这里是>
                    // singleSelect: false,//设置True 将禁止多选
                    search: false, //显示搜索框
                    data_local: "zh-US",//表格汉化
                    sidePagination: "server", //服务端处理分页
                    queryParams: function (params) {//自定义参数，这里的参数是传给后台的，我这是是分页用的
                        console.log(params);
                        return {//这里的params是table提供的
                            cp: params.offset,//从数据库第几条记录开始
                            ps: params.limit//找多少条
                        };
                    },
                    idField: "id",//指定主键列
                    columns: [
                        {
                            title: '#',//表的列名
                            field: 'id',//json数据中rows数组中的属性名
                            align: 'center'//水平居中
                        },
                        {
                            title: '账号',
                            field: 'login_name',
                            align: 'center'
                        },
                        {
                            title: '真实姓名',
                            field: 'name',
                            align: 'center'
                        },
                        {
                            //EMAIL
                            title: '邮箱',
                            field: 'email',
                            align: 'center'
                        },
                        {
                            //部门名字
                            title: '角色',
                            field: 'roles',//可以直接取到属性里面的属性，赞
                            align: 'center',
                            formatter:function (value, row, index) {
                                var strs="";
                                $.each(row.roles,function (i,item) {
                                      strs+=item.name+"&nbsp;"
                                })
                                return strs;
                            }
                        },
                        {
                            title: '状态',
                            field: 'isactive',
                            align: 'center',
                            formatter: function (value, row, index) {//自定义显示，这三个参数分别是：value该行的属性，row该行记录，index该行下标
                                return row.isactive == 0 ? "锁定" : "激活"
                            }
                        },
                        {
                            title: '头像',
                            field: 'icon',
                            align: 'center',
                            formatter: function (value, row, index) {//自定义显示，这三个参数分别是：value该行的属性，row该行记录，index该行下标
                                return '<img src="'+value+'" width="100" height="50"/>';
                            }
                        },
                        {
                            title: '操作',
                            field: 'userId',
                            align: 'center',
                            formatter: function (value, row, index) {//自定义显示可以写标签哦~2
                                var json=JSON.stringify(row);
                                 // 注意下面的傻逼字符串
                                return [
                                    "<button type='button' class='btn btn-default' style='color:red'onclick='showModify("+json+")'>编辑</button>",
                                    // '<button type="button" class="btn btn-default" style="color: red" onclick="showModify('+row.id+')">编辑</button>&nbsp;&nbsp;',
                                    '<button type="button" id="btnDel" class="btn btn-default" style="color: green" onclick="removeUser('+row.id+')">删除</button>'].join('');
                            },
                        }
                    ]
                });
                t.on('load-success.bs.table', function (data) {//table加载成功后的监听函数
                    $(".pull-right").css("display", "block");
                });
            });
    </script>
    <script>
        function getRoleList() {
            var htmls=[];
            $.getJSON("/main/getRole",function (data) {
                $.each(data,function (i,item) {
                    htmls[i]="&nbsp;&nbsp;&nbsp;&nbsp;<input type='checkbox' name='role' value='"+item.id+"' id='"+item.id+"'>"+item.name+"&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;"
                });
                    $("[name='roles']").html(htmls);
                })
        }
        function submitForm(obj,url,flag) {
            //获取表单数据
            var formData = new FormData(obj[0]);
            //判断是否设置了图片头像
            var src = $("#img").attr('src');
            if(src==''){
                //展示文件上传的错误信息
                $("#errorMsg").text("请上传文件");
                $("#errorMsg").show();
                return;
            }else {
                //发送请求
                $.ajax({
                    //接口地址
                    url:url,
                    type:'POST',
                    data:formData,
                    async:false,
                    cache:false,
                    contentType:false,
                    processData:false,
                    success:function (data) {
                        if(flag){
                            //成功的回调
                            location.href="/login/toLogin";
                        }else{
                            //新增成功后，刷新bootstrap
                            // alert("我要刷新当前界面啦")
                            $("#table_server").bootstrapTable('refresh');
                        }
                    },error:function (returndata) {
                        //请求异常的回调
                        $("#errorMsg").text("网络环境异常，请稍后再试");
                        $("#errorMsg").show();
                        return;
                    }
                })
            }
        }
        function showModify(json){
            //这个是添加用户
            if(!json){
                $(".modal-title").text("添加用户")
                $("#myModal").modal('toggle');
                getRoleList();
            }else{
                $("[name='id']").val(json.id)
                $("[name='name']").val(json.name)
                $("[name='login_name']").val(json.login_name)
                $("[name='email']").val(json.email)
                $("[name='roles']").val(json.roles)
                $("[name='isactive']").val(json.isactive)
                $(".modal-title").text("编辑用户")
                $("[name=icon]").val(json.icon)
                $("#img").attr("src",json.icon).attr("value",json.icon)

                $("#myModal").modal('toggle');
                //角色自选定
                getRoleList();
            }
        }
        function upLoad(){
            var fileInput = document.getElementById("upimg");
            var file = fileInput.files[0];
            //创建读取文件的对象
            var reader = new FileReader();
            //创建文件读取相关的变量
            var imgFile;
            //为文件读取成功设置事件
            reader.onload = function (e) {
                // alert('文件读取完成');
                imgFile = e.target.result;
                $(".showimg").show();
                $("#img").attr('src', imgFile);//imgFile对象是流文件
            };
            //正式读取文件
            reader.readAsDataURL(file);
        }
    </script>
</head>
<body>
    <div class="panel panel-default">
        <div class="panel-body">
            <button class="btn btn-primary btn-lg" onclick="showModify(undefined)">添加用户</button>
            <table id="table_server" ></table>
        </div>

        <div class="alert alert-danger alert-dismissible" align="center" id="errorDialog">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>错误!</strong><span></span>
        </div>
    </div>
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        &times;
                    </button>
                    <h4 class="modal-title" id="myModalLabel">
                        添加用户
                    </h4>
                </div>
                <div class="modal-body">
                    <form role="form">
                        <input type="hidden" class="form-control" name="id">
                        <div class="form-group">
                            <label for="loginName">登录名</label>
                            <input type="text" class="form-control" name="login_name" placeholder="请输入登录名" required>
                        </div>
                        <div class="form-group">
                            <label for="name">真实姓名</label>
                            <input type="text" class="form-control" name="name" placeholder="请输入真实姓名" required>
                        </div>
                        <div class="form-group">
                            <label for="password">密码</label>
                            <input type="password" class="form-control" name="password" placeholder="请输入密码" required>
                        </div>
                        <div class="form-group">
                            <label for="email">邮箱</label>
                            <input type="email" class="form-control" name="email" placeholder="请输入邮箱" required>
                        </div>
                        <div class="form-group">
                            <label for="role">角色</label>
                            <div class="checkbox" name="roles">
                                <!--<label name="roles"></label>-->

                            </div>
                        </div>
                        <div class="form-group">
                            <label for="active">激活状态</label>
                            <select class="form-control" required name="isactive" placeholder="请设置激活状态">
                                <option value="1" name="active">激活</option>
                                <option value="0" name="active">锁定</option>
                            </select>
                        </div>
                        <div class="yg_content">
                            <input type="file" id="upimg" name="upload" accept="image/*" onchange="upLoad()">
                            <label for="upimg">
                                <p>点击上传图片</p>
                            </label>
                            <div class="showimg" style="width: 100px;height: 100px">
                                <img id="img" src="" alt="">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭
                    </button>
                    <button type="button" class="btn btn-primary"  data-dismiss="modal" onclick="submitForm($('form'),'/main/addUser',false);">
                        提交更改
                    </button>
                </div>
                <div id="errorMsg" class="alert alert-danger text-center"></div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal -->
    </div>
</body>
</body>
</html>